body {
  background-color: rgb(179, 225, 255);
}
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
}

.container > * {
  flex: 1; 
  margin: 0 10px;
}
